@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}


    /* Animation for form transition */
    .form-container.slide-in {
      animation: slide-in 0.5s forwards;
    }

    .form-container.slide-out {
      animation: slide-out 0.5s forwards;
    }

    @keyframes slide-in {
      from {
        opacity: 0;
        transform: translateX(30px);
      }

      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes slide-out {
      from {
        opacity: 1;
        transform: translateX(0);
      }

      to {
        opacity: 0;
        transform: translateX(-30px);
        display: none;
      }
    }